@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #5E3AEE;
$secondary-color: #F9F9FC;
$text-color: #0F1221;
$menu-color: #6B7092;

* {
    font-family: 'Roboto', sans-serif !important;
}

html {
    scroll-behavior: smooth !important; 
}

body {
    font-family: 'Roboto', sans-serif !important;
}

.container {
    .navbar {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $menu-color !important;
                }

                &.active {
                    a {
                        color: $primary-color !important;
                        font-weight: bold !important;
                    }
                }
            }
        }
    }
}

.btn {
    border-radius: 0 !important;
}

.container.box {
    background-color: $secondary-color !important;
    padding-left: 5em;
    padding-right: 5em;
    .title {
        color: $text-color;
        font-size: 3rem;
        font-weight: bold;
        word-spacing: 10px;
        line-height: 1;
    }
    .profession {
        color: $primary-color;
    }
    p {
        color: $menu-color;
    }
    .btn.btn-primary {
        background-color: $primary-color !important;
        border: 1px solid $primary-color !important;
        padding: .5em 2em !important;
        transform: .5s all ease !important;
        margin-top: 5em;

        &:hover {
            background-color: $secondary-color !important;
            border: 1px solid $primary-color !important;
            color: $primary-color !important;
        }
    }
    .btn.btn-secondary {
        background-color: $text-color !important;
        border: 1px solid $text-color !important;
        padding: .5em 2em !important;
        margin-top: 5em;
        margin-left: 1em;

        &:hover {
            background-color: $secondary-color !important;
            border: 1px solid $text-color !important;
            color: $text-color !important;
        }
    }
    img {
        width: 21em !important;

        @media screen and (max-width: 768px) {
            width: 10em !important;
        }
        @media screen and (max-width: 576px) {
            margin-top: -4em !important;
        }
        @media screen and (max-width: 360px) {
            margin-top: -3em !important;
        }
    }

    @media screen and (max-width: 768px) {
        text-align: center;
        display: flex;
        align-items: center;
        padding-left: 15px !important;
        padding-right: 15px !important;
        .title {
            font-size: 2.5rem;
        }
    }

    @media screen and (max-width: 576px) {
        padding-left: 15px !important;
        padding-right: 15px !important;
        .title {
            font-size: 1.5rem !important;
            margin-top: 10px;
            white-space: nowrap;
        }
        .profession {
            font-size: 1.3rem !important;
        }
        p {
            font-size: .8rem !important;
        }
        .btn.btn-primary {
            margin-top: 10px;
        }
        .btn.btn-secondary {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 360px) {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.container-fluid.about-me {
    margin: 8em auto 8em auto !important;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: $text-color;
    color: white;

    h6 {
        color: $primary-color;
        opacity: 1;
    }

    p {
        opacity: .5 ;
        line-height: 1.7;
    }

}

.container.works {
    h1 {
        font-weight: 700;
    }
    h4 {
        color: $text-color;
        font-size: 1.2rem;
    }

    @media screen and (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }
        h4, p {
            font-size: 1em;
        }
        p {
            text-align: left !important;
        }
    }
}

.container.contact {
    background-color: $text-color;
    color: white;
    
    .container {
        padding-top: 5em;
        padding-bottom: 5em;

        h6 {
            opacity: .4;
            font-weight: 400;
        }

        p {
            opacity: .4;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}
