@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #5E3AEE;
$secondary-color: #F9F9FC;
$text-color: #0F1221;
$menu-color: #6B7092;

body {
    font-family: 'Roboto', sans-serif !important;
    
}

.container {
    .navbar {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $menu-color !important;
                }

                &.active {
                    a {
                        color: $primary-color !important;
                        font-weight: bold !important;
                    }
                }
            }
        }
    }
}

.container.box {
    background-color: $secondary-color !important;
    height: 80vh !important;
    border-radius: 16px !important;
    .introduce-text {
        padding-left: 4em;
    }
    .title {
        color: $text-color;
        font-size: 3rem;
        font-weight: bold;
        word-spacing: 10px;
        line-height: 1;
    }
    .profession {
        color: $primary-color;
    }
    p {
        color: $menu-color;
    }
    .btn.btn-primary {
        background-color: $primary-color !important;
        border: 1px solid $primary-color !important;
        padding: .5em 2em !important;
        transform: .5s all ease !important;
        margin-top: 5em;    

        &:hover {
            background-color: $secondary-color !important;
            border: 1px solid $primary-color !important;
            color: $primary-color !important;
        }
    }
    .btn.btn-secondary {
        background-color: $text-color !important;
        border: 1px solid $text-color !important;
        padding: .5em 2em !important;
        margin-top: 5em;
        margin-left: 1em;

        &:hover {
            background-color: $secondary-color !important;
            border: 1px solid $text-color !important;
            color: $text-color !important;
        }
    }
    img {
        width: 21em !important;

        @media screen and (max-width: 768px) {
            width: 10em !important;
        }
        @media screen and (max-width: 576px) {
            margin-top: 3em !important;
        }
    }

    @media screen and (max-width: 768px) {
        text-align: center;
        padding: 60px;
        display: flex;
        align-items: center;

        .introduce-text {
            padding-left: 15px;
        }

        .title {
            font-size: 2.5rem;
        }
    }

    @media screen and (max-width: 576px) {
        .introduce-text {
            padding-left: 0 !important;
        }
        .title {
            font-size: 1.5rem !important;
            white-space: nowrap;
        }
        .profession {
            font-size: 1.3rem !important;
        }
        p {
            font-size: .8rem !important;
        }
        .btn.btn-primary {
            margin-top: 10px;
        }
        .btn.btn-secondary {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 320px) {
        .introduce-text {
            padding-left: 0 !important;
        }
    }
}
